.base-info-form.base-info-form {
  width: 100%;

  .ant-form-item.ant-form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ant-form-item-label.ant-form-item-label {
    width: 80px;
    flex-shrink: 0;
  }

  .ant-form-item-label > label {
    justify-content: flex-end;
  }
}
