.filter-form {
  background: #fff;
  padding: 0.625rem 0.75rem;
  border-radius: 0.38rem;

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-input,
  .ant-select,
  .ant-picker {
    margin: 6px 0;
  }

  .ant-form-item-label > label {
    margin: 6px 0;
    height: 32px;
    line-height: 32px;
  }

  .ant-select-selection-item {
    color: rgba(0, 0, 0, 0.85);
  }
}

.filter-item {
  width: 100%;

  .ant-input,
  .ant-select,
  .ant-picker,
  .ant-input-affix-wrapper {
    width: 100%;
  }
}

.filter-item .ant-form-item-label {
  width: 80px;
  flex-shrink: 0;

  > label {
    justify-content: flex-end;
    width: 100%;
  }
}

.filter-item .ant-form-item-control {
  flex: 1;
  min-width: 0;
}

.filter-item .ant-form-item-control-input-content {
  width: 100%;
}

.filter-col {
  margin-bottom: 0;
}

.filter-form .btn-col {
  display: flex;
  justify-content: flex-end;

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-space {
    display: flex;
    justify-content: flex-end;
  }

  .ant-space-item {
    margin: 6px 0;
  }

  .ant-btn {
    margin: 6px 0;
    box-shadow: none;
  }
}

.expand-btn {
  width: auto;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 4px;
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.88);
  user-select: none;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.88);
  }

  &:active {
    color: rgba(0, 0, 0, 0.88) !important;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.88) !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .arrow-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .expand-text {
    color: rgba(0, 0, 0, 0.88) !important;
  }
}
